[submodule "pacman"]
	path = pacman
	url = git@github.com:mingw-deb/debian-pacman.git
[submodule "pacman-mirrors"]
	path = pacman-mirrors
	url = git@github.com:mingw-deb/debian-pacman-mirrors.git
[submodule "archlinux-buildscripts"]
	path = archlinux-buildscripts
	url = git@github.com:mingw-deb/debian-archlinux-buildscripts.git
[submodule "boost"]
	path = boost
	url = git@github.com:mingw-deb/boost.git
[submodule "expat"]
	path = expat
	url = git@github.com:mingw-deb/expat.git
[submodule "cppunit"]
	path = cppunit
	url = git@github.com:mingw-deb/cppunit.git
[submodule "gettext"]
	path = gettext
	url = git@github.com:mingw-deb/gettext.git
[submodule "gdb"]
	path = gdb
	url = git@github.com:mingw-deb/gdb.git
[submodule "jack"]
	path = jack
	url = git@github.com:mingw-deb/jack.git
[submodule "glib2"]
	path = glib2
	url = git@github.com:mingw-deb/glib2.git
[submodule "libcroco"]
	path = libcroco
	url = git@github.com:mingw-deb/libcroco.git
[submodule "libffi"]
	path = libffi
	url = git@github.com:mingw-deb/libffi.git
[submodule "libintl"]
	path = libintl
	url = git@github.com:mingw-deb/libintl.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = git@github.com:mingw-deb/libjpeg-turbo.git
[submodule "libpcre"]
	path = libpcre
	url = git@github.com:mingw-deb/libpcre.git
[submodule "libpng"]
	path = libpng
	url = git@github.com:mingw-deb/libpng.git
[submodule "libtiff"]
	path = libtiff
	url = git@github.com:mingw-deb/libtiff.git
[submodule "libunistring"]
	path = libunistring
	url = git@github.com:mingw-deb/libunistring.git
[submodule "pdcurses"]
	path = pdcurses
	url = git@github.com:mingw-deb/pdcurses.git
[submodule "wxmsw"]
	path = wxmsw
	url = git@github.com:mingw-deb/wxmsw.git
