[submodule "pacman"]
	path = pacman
	url = git@github.com:mingw-deb/debian-pacman.git
[submodule "pacman-mirrors"]
	path = pacman-mirrors
	url = git@github.com:mingw-deb/debian-pacman-mirrors.git
[submodule "archlinux-buildscripts"]
	path = archlinux-buildscripts
	url = git@github.com:mingw-deb/debian-archlinux-buildscripts.git
[submodule "boost"]
	path = boost
	url = git@github.com:mingw-deb/boost.git
[submodule "expat"]
	path = expat
	url = git@github.com:mingw-deb/expat.git
