*.deb
*.udeb
*.dsc
build-i686-w64-mingw32
build-x86_64-w64-mingw32
*/debian/tmp
*/debian/*.log
*/debian/*.substvars
*/debian/.debhelper
*/debian/files
*/debian/*build-stamp
*.o
*.a
*.exe
*.ex
*.EX
*.dll
*.so
icu-*/debian/*icu*-mingw*/*
mingw-buildscripts*/debian/mingw-buildscripts*/*