#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
LDFLAGS=
CPPFLAGS=-Wdate-time
CFLAGS=-O3 -g -O2 -Wformat -Werror=format-security
CXXFLAGS=-O3 --std=c++03

#CURDIR=$(PWD)

l_SONAME=57

TARGETS := \
	x86_64-w64-mingw32 \
	i686-w64-mingw32
WINEPREFIX = $(CURDIR)/build-$$target/wineprefix
WINEDLLPATH = \
$(CURDIR)/build-$${target}/bin:\
$(CURDIR)/build-$${target}/lib:\
$(CURDIR)/build-$${target}/stubdata:\
$(CURDIR)/build-$${target}/tools/testfw

EXECUTE = \
	FORCE_WINEPREFIX="$(WINEPREFIX)" \
	PATH="$(WINEDLLPATH):$$PATH" \
	WINEDLLPATH="$(WINEDLLPATH)" \
	LDFLAGS="$(LDFLAGS)" CFLAGS="$(CFLAGS)" \
	CXXFLAGS="$(CXXFLAGS)" CPPFLAGS="$(CPPFLAGS)" \
	/usr/bin/$${target}

override_dh_clean:
	echo "Current directory = $(CURDIR)"
	for target in $(TARGETS); do \
		rm -rf build-$$target; \
	done
	dh_clean
#	find $(CURDIR)/source/ \( -name Makefile -o -name pkgdataMakefile \) \
		-exec rm {} \;

override_dh_auto_configure:
	echo "CURDIR=„$(CURDIR)“"
	echo "DESTDIR=„$(TESTDIR)“"
	for target in $(TARGETS); do \
		mkdir -p build-$$target/bin && \
		cd build-$$target && \
		cp -a /usr/$$target/bin/run-native-$$target.exe bin/bash.exe && \
		$(EXECUTE) /usr/bin/prepare-winedllpath && \
		$(EXECUTE) ../source/runConfigureICU MinGW \
			"--host=$$target" "--build=$$target" \
			--enable-static "--prefix=/usr/$$target" || exit ; \
		cd .. ; \
	done

override_dh_auto_build:
	for target in $(TARGETS); do \
		cd build-$$target && \
		$(EXECUTE) $(MAKE) && \
		$(EXECUTE) $(MAKE) doc || exit ; \
		cd .. ; \
	done

override_dh_auto_install:
	for target in $(TARGETS); do \
		cd build-$$target && \
		$(EXECUTE) $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/ && \
		$(EXECUTE) $(MAKE) install-doc DESTDIR=$(CURDIR)/debian/tmp/ || exit; \
		echo delete extra license file && \
		rm  -f $(CURDIR)/debian/tmp/usr/$$target/share/icu/57.1/LICENSE  ; \
		cd .. ; \
	done
	# this should be redundant as fakeroot treats all unknown files to be owned by root.
	fakeroot chown -R root:root "$(CURDIR)/debian/tmp"

override_dh_installdocs-indep:
	dh_installdocs -i
	# symlink duplicated files
	for file in `find debian/icu-doc/usr/share/doc/icu-doc/html/ -name \*icu_1_1\*`; do \
		normal=`echo $$file | sed s/icu_1_1//`; \
		if [ -f $$normal ]; then \
			rm $$file; \
			ln -s `basename $$normal` $$file; \
		fi; \
	done
	fakeroot chown -R root:root "$(CURDIR)/debian/tmp"

override_dh_strip:
	fakeroot dh_strip -O --sourcedirectory=$(CURDIR)/source/
#	fakeroot dh_strip -plibicu$(l_SONAME) --dbg-package=libicu$(l_SONAME)-mingw-w64-dbg
#	fakeroot dh_strip -picu-devtools --dbg-package=icu-devtools-mingw-w64-dbg
#	# libicudata library doesn't contain any debug symbols, remove that
#	for file in `find debian/libicu$(l_SONAME)-mingw-w64-dbg/usr/lib/debug -type f -print`; do \
#		fakeroot /bin/sh -c "if ! nm -a '$$file' | grep -q debug; then rm '$$file' ; fi"; \
#	done

#binary:
#	dh binary --sourcedirectory=$(CURDIR)/source/

override_dh_testroot:
	fakeroot dh_testroot -O --sourcedirectory=$(CURDIR)/source/
override_dh_fixperms:
	fakeroot dh_fixperms -O --sourcedirectory=$(CURDIR)/source/
override_dh_compress:
	fakeroot dh_compress -O --sourcedirectory=$(CURDIR)/source/
override_dh_makeshlibs:
	fakeroot dh_makeshlibs -O --sourcedirectory=$(CURDIR)/source/
override_dh_gencontrol:
	fakeroot dh_gencontrol -O --sourcedirectory=$(CURDIR)/source/
override_dh_md5sums:
	fakeroot dh_md5sums -O --sourcedirectory=$(CURDIR)/source/
override_dh_builddeb:
	fakeroot dh_builddeb -O --sourcedirectory=$(CURDIR)/source/

%:
	dh $@ --sourcedirectory=$(CURDIR)/source/
	#dh $@ --sourcedirectory=$(CURDIR/)source/ --parallel

.PHONY: override_dh_clean \
	override_dh_auto_configure \
	override_dh_auto_build \
	override_dh_auto_install \
	override_dh_installdocs-indep \
	override_dh_strip \
	override_dh_testroot \
	override_dh_fixperms \
	override_dh_compress \
	override_dh_makeshlibs \
	override_dh_gencontrol \
	override_dh_md5sums \
	override_dh_builddeb

# Local Variables:
# compile-command: "(cd .. ; debuild -r env)"
# End:
