#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

l_SONAME=57

override_dh_clean:
	dh_clean
	find $(CURDIR)/source/ \( -name Makefile -o -name pkgdataMakefile \) \
		-exec rm {} \;

override_dh_auto_configure:
	dh_auto_configure -- --enable-static

override_dh_auto_build:
	dh_auto_build --parallel
	$(MAKE) -C $(CURDIR)/source/ doc

override_dh_auto_install:
	dh_auto_install
	$(MAKE) -C $(CURDIR)/source/ install-doc DESTDIR=$(CURDIR)/debian/tmp/
	# delete extra license file
	rm  $(CURDIR)/debian/tmp/usr/share/icu/57.1/LICENSE

override_dh_installdocs-indep:
	dh_installdocs -i
	# symlink duplicated files
	for file in `find debian/icu-doc/usr/share/doc/icu-doc/html/ -name \*icu_1_1\*`; do \
		normal=`echo $$file | sed s/icu_1_1//`; \
		if [ -f $$normal ]; then \
			rm $$file; \
			ln -s `basename $$normal` $$file; \
		fi; \
	done

override_dh_strip:
	dh_strip -plibicu$(l_SONAME) --dbg-package=libicu$(l_SONAME)-dbg
	dh_strip -picu-devtools --dbg-package=icu-devtools-dbg
	# libicudata library doesn't contain any debug symbols, remove that
	for file in `find debian/libicu$(l_SONAME)-dbg/usr/lib/debug -type f -print`; do \
		if ! nm -a $$file | grep -q debug; then rm $$file; fi; \
	done

%:
	dh $@ --sourcedirectory=$(CURDIR/)source/ --parallel

.PHONY: override_dh_clean override_dh_auto_configure override_dh_auto_build \
	override_dh_auto_install override_dh_installdocs-indep \
	override_dh_strip
