#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
LDFLAGS=
CPPFLAGS=-Wdate-time
CFLAGS=-O3 -g -O2 -Wformat -Werror=format-security
CXXFLAGS=-O3 --std=c++03

#l_SONAME=57

TARGETS := \
	x86_64-w64-mingw32 \
	i686-w64-mingw32
WINEPREFIX = $(CURDIR)/build-$$target/wineprefix
WINEDLLPATH = \
$(CURDIR)/build-$${target}/bin:\
$(CURDIR)/build-$${target}/lib:\
$(CURDIR)/build-$${target}/stubdata:\
$(CURDIR)/build-$${target}/tools/testfw

EXECUTE = \
	FORCE_WINEPREFIX="$(WINEPREFIX)" \
	PATH="$(WINEDLLPATH):$$PATH" \
	WINEDLLPATH="$(WINEDLLPATH)" \
	LDFLAGS="$(LDFLAGS)" CFLAGS="$(CFLAGS)" \
	CXXFLAGS="$(CXXFLAGS)" CPPFLAGS="$(CPPFLAGS)" \
	/usr/bin/$${target}

override_dh_clean:
	for target in $(TARGETS); do \
		rm -rf build-$$target; \
	done
	dh_clean
	rm -f configure manual.texi bzip2.info manual.fo manual.html manual.pdf manual.ps
#	find $(CURDIR)/source/ \( -name Makefile -o -name pkgdataMakefile \) \
		-exec rm {} \;

override_dh_auto_configure:
	autoconf
	for target in $(TARGETS); do \
		mkdir -p build-$$target/bin && \
		cd build-$$target && \
		cp -a /usr/$$target/bin/run-native-$$target.exe bin/bash.exe && \
		$(EXECUTE) /usr/bin/prepare-winedllpath && \
		$(EXECUTE) ../configure \
			"--host=$$target" "--build=$$target" \
			--enable-shared "--prefix=/usr/$$target" || exit ; \
		cd .. ; \
	done

override_dh_auto_build: #manual.texi
	for target in $(TARGETS); do \
		cd build-$$target && \
		$(EXECUTE) $(MAKE) || exit ; \
		cd .. ; \
	done
		#$(EXECUTE) $(MAKE) manual || exit ; \
	#makeinfo -o bzip2.info manual.texi
	cat debian/copyright.in > debian/copyright
	sed -e 's/^/  /; s/^  /  ./' < LICENSE > debian/copyright

override_dh_auto_install:
	for target in $(TARGETS); do \
		cd build-$$target && \
		$(EXECUTE) $(MAKE) install PREFIX=$(CURDIR)/debian/tmp/usr/$$target && \
		gzip -v9 $(CURDIR)/debian/tmp/usr/$$target/share/man/man1/*.1 || exit && \
		cd .. ; \
	done
	# this should be redundant as fakeroot treats all unknown files to be owned by root.
	fakeroot chown -R root:root "$(CURDIR)/debian/tmp"

override_dh_installdocs-indep:
	dh_installdocs -i
	# symlink duplicated files
	for file in `find debian/icu-doc/usr/share/doc/icu-doc/html/ -name \*icu_1_1\*`; do \
		normal=`echo $$file | sed s/icu_1_1//`; \
		if [ -f $$normal ]; then \
			rm $$file; \
			ln -s `basename $$normal` $$file; \
		fi; \
	done
	fakeroot chown -R root:root "$(CURDIR)/debian/tmp"

override_dh_strip:
	fakeroot dh_strip
	#fakeroot dh_strip -plibicu$(l_SONAME) --dbg-package=libicu$(l_SONAME)-mingw-w64-dbg
	#fakeroot dh_strip -picu-devtools --dbg-package=icu-devtools-mingw-w64-dbg
	# libicudata library doesn't contain any debug symbols, remove that
	#for file in `find debian/libicu$(l_SONAME)-mingw-w64-dbg/usr/lib/debug -type f -print`; do \
	#	fakeroot /bin/sh -c "if ! nm -a '$$file' | grep -q debug; then rm '$$file' ; fi"; \
	#done

binary:
	dh binary --sourcedirectory=$(CURDIR)

override_dh_testroot:
	fakeroot dh_testroot -O --sourcedirectory=$(CURDIR)
override_dh_fixperms:
	fakeroot dh_fixperms -O --sourcedirectory=$(CURDIR)
override_dh_compress:
	fakeroot dh_compress -O --sourcedirectory=$(CURDIR)
override_dh_makeshlibs:
	fakeroot dh_makeshlibs -O --sourcedirectory=$(CURDIR)
override_dh_gencontrol:
	fakeroot dh_gencontrol -O --sourcedirectory=$(CURDIR)
override_dh_md5sums:
	fakeroot dh_md5sums -O --sourcedirectory=$(CURDIR)
override_dh_builddeb:
	fakeroot dh_builddeb -O --sourcedirectory=$(CURDIR)

%:
	dh $@ --sourcedirectory=$(CURDIR)
	#dh $@ --sourcedirectory=$(CURDIR/)source/ --parallel

.PHONY: override_dh_clean override_dh_auto_configure override_dh_auto_build \
	override_dh_auto_install override_dh_installdocs-indep \
	override_dh_strip

# requires: docbook-xml docbook2x
manual.texi: manual.xml
	docbook2x-texi --to-stdout manual.xml | \
	awk '/^@direntry/,/^@end direntry/ {if ($$0 !~ /@/) {print "* Bzip2: (bzip2).               A program and library for data compression."; next}} {print}' > manual.texi


# Local Variables:
# compile-command: "(cd .. ; debuild -r env)"
# End:
